*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
  /*======- sheared property -======*/
  .size_color{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
  }
  .heaading_font_size{
    font-size: 28px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    padding: 14px 0;
  }
  .nav_sheared{
    color: rgb(13, 19, 33);
    text-decoration: none;
    padding: 0 28px;
  }
  .margin_buttom{
    margin-bottom: 30px;
  }
  /*=====- navber -===== */
.nav_container{
  width: 90%;
  margin: 20px auto;
}
.nav_area{
  margin: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_area .logo{
  font-size: 28px;
  font-weight: 800;
}
.Download_Resume{
  font-size: 16px;
  font-weight: 600;
  padding: 12px 18px;
  border: 2px solid rgb(13, 19, 33) ;
  border-radius: 8px;
}
/*=====- start frist section area -==== */
#Frist_section{
  width: 100%; 
  min-height: 652px;
  background-image: url(img/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 50px 0;
}
.frist_section_area {
  width: 70%;
  margin: 0 auto;
}
.frist_section_heading{
color: rgb(13, 19, 33);
 font-size: 38px;
 font-weight: 800;
}
.frist_section_area .frist_section_img, .frist_section_heading, .frist_section_discribstion, .Frist_section_btn {
  padding: 20px;
  margin-bottom: 20px;
}
.Frist_section_btn{
padding: 14px 16px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
border-radius: 14px;
background: rgb(13, 19, 33);
text-decoration: none;
 }
/*======- start second section -======= */
 #second_section{
  width: 85%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
 }  
  .second_container{
    padding: 4%;
  }
 .second_child_container{
  margin-bottom:50px ;
  padding: 0 25px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 280px;
 }
 .second_section_btn{
  width: 150px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  border: 1px solid rgb(13, 19, 33);
  background-color: #fff;
  cursor: pointer;
 }
 .second_child_discribtion{
  width: 64%;
  text-align: left;
 }
 .second_child_img{
  width: 30%;
 }
/*=====- third_section_area -===== */
#third_section{
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
.my_inspiration{
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.third_section_area{
  text-align: center;
  padding: 0 10%;
}
.third_section_area > a > img{
  width: 60%;
  margin-bottom: 30px;
}
/*=====- fourth_section_area -=====*/
#fourth_section{
  width: 85%;
  margin: 50px auto;
}
.fourth_section_h2_p{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.fourth_section_tite{
  line-height: 37px;
}
.fourth_section_discribtion{
  line-height: 27px;
}
.skills_section{
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.skill{
  padding: 50px;
}
.skill_html{
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.skill_css{
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.skill_java{
  border-radius: 16px;
   background: rgba(255, 223, 0, 0.05);
}
.skill_btn{
  font-size: 16px;
  Font-weight: 700;
  margin-top: 20px;
  color: rgb(13, 19, 33);
  line-height: 40px;
}
/*=====- fifth_section_img -=====*/
#fifth_section{
  width: 85%;
  height: 313px;
  padding: 48px 64px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 16px;
  background: linear-gradient( rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(img/handshake.jpg);
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 30px;
}
.fifth_section_title{
  font-size: 28px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.fifth_input_text{
 margin: 30px 0;
 padding: 10px 80px 10px 36px;
 text-align: left;
 border: 1px solid rgba(13, 19, 33, 0.15);
 border-radius: 8px;
 background: rgb(255, 255, 255);

}

.fifth_input_button{
  padding: 10px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  margin: 30px 0;
}
/*===== footer area ======*/
#footer_area{
  width: 100%;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);

}
.foortr_container{
  width: 85%;
  margin: 0 auto;
  padding: 2% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foortr_container ul li{
  display: inline-block;
  margin-right: 20px;
}
