*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Azeret Mono", monospace;
}
  /* sheared property */
  .nav_sheared{
    color: rgb(13, 19, 33);
    text-decoration: none;
    padding: 20px 28px;
  }
  .margin_buttom{
    margin-bottom: 30px;
  }
  /*===- navber -=== */
.nav_container{
  width: 90%;
  margin: 30px auto;
}
.nav_area{
  margin: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_area .logo{
  font-size: 28px;
  font-weight: 800;
}
.Download_Resume{
  font-size: 16px;
  font-weight: 600;
  padding: 17px 24px;
  border: 2px solid rgb(13, 19, 33) ;
  border-radius: 8px;
}
/*=====- start frist section area -==== */
#Frist_section{
  width: 100%; 
  min-height: auto;
  background-image: url(img/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin: 50px 0;
}
.frist_section_area {
  width: 70%;
  margin: 0 auto;
}
.frist_section_area .frist_section_img, .frist_section_heading, .frist_section_discribstion, .Frist_section_btn {
  padding: 30px;
  margin-bottom: 30px;
}
.Frist_section_btn{
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
border-radius: 14px;
background: rgb(13, 19, 33);
 }
           /*======- start second section -============ */
 #second_section{
  width: 85%;
  height: auto;
  margin: 0 auto;
  padding: 80px 97px;
  text-align: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
 }  
  .second_container{
    padding: 4%;
  }
 .second_child_container{
  margin-bottom:50px ;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
 }
 .second_child_discribtion{
  width: 64%;
  text-align: left;
 }
 .second_child_img{
  width: 30%;
 }
